<div class="container pt-5 mt-5 mb-5 pb-5">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title h2 pt-3">Converter of exchange rates</h1>
          <div class="row">
            <div class="col-md-6">
              <div>
                <label>Pick exchange</label>
                <div class="form-inline mb-3">
                  <app-dropdown
                    title="From value"
                    [rates]="rates"
                    (newItemEvent)="setFromValue($event)"
                  ></app-dropdown>
                  <app-dropdown
                    title="To value"
                    [rates]="rates"
                    (newItemEvent)="setToValue($event)"
                  ></app-dropdown>
                </div>
                <label>Set value</label>
                <app-input
                  [disabled]="fromValue && toValue ? '' : 'disabled'"
                  type="number"
                  (newItemEvent)="calculateValue($event)"
                ></app-input>
                <p class="h4">
                  <span class="badge badge-pill badge-light h1 border">{{
                    fromValue
                  }}</span>
                  <span class="pl-2 pr-2" *ngIf="fromValue && toValue"
                     style="cursor: pointer;" (click)="switchValues()">&#10562;</span
                  >
                  <span class="badge badge-pill badge-dark h1">{{
                    toValue
                  }}</span>
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <h6>Calculated value</h6>
              <div class="card">
                <div class="card-body">
                  <p class="text-center display-2 p-5">
                    {{ calcValue }}<small class="h4">{{ toValueFlag }}</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
