<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand d-block mx-auto" routerLink="/about">Exchange Rate App <small class="budge mb-2 font-weight-light">by nanorocks</small></a>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
  <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav m-auto text-center">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/about">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/list">List</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/convert">Convert</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/history">History</a>
      </li>
    </ul>
  </div>
</nav>



