<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap = "vendor/autoload.php"
         colors                      = "true"
         verbose                     = "true"
         stopOnFailure               = "true">

    <testsuites>
        <testsuite name="Test Suite">
<!--            <directory>src/tests/unit/</directory>-->
            <file>src/tests/unit/ExchangeRateTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>